APP_NAME=
APP_ENV=
APP_URL=
APP_TIMEZONE=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

MIDTRANS_ENV=sandbox
MIDTRANS_SERVER_KEY=Mid-server-xxxxxxxxxxxxxxxx
MIDTRANS_CLIENT_KEY=Mid-client-xxxxxxxxxxxxxxxx

SESSION_LIFETIME=
SESSION_NAME=